<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ut inventore neque, adipisci facilis autem
        natus amet? Cum architecto quidem facilis nostrum dolorum? Numquam delectus ipsum quod sit et aperiam cumque
        asperiores ratione, tenetur doloremque nihil, dolorem quasi harum reiciendis accusamus autem dolores. Possimus
        voluptate eligendi corporis eius aliquid quidem.</h3>
</body>

</html>