<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <h3>I am {{myName}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut dolores vero in maiores, odio aliquam sunt
        itaque distinctio quia tempore quos, recusandae harum incidunt rerum numquam sequi, autem iure voluptas
        consectetur hic! Blanditiis, possimus? Cumque, iste nihil, ipsa ut et voluptas ea libero velit quod repudiandae,
        fugit autem incidunt perferendis molestiae blanditiis. Soluta qui rerum fugit at officiis perferendis nobis
        molestias, aut culpa! Error neque, adipisci impedit animi vero architecto iste ut harum culpa repellendus
        deserunt libero recusandae, officia, blanditiis voluptate quibusdam et doloremque ullam asperiores facere
        dolorum. Nesciunt officia voluptas itaque voluptatibus at earum reprehenderit eveniet error nihil assumenda.
        Dolore rem saepe sunt minus expedita, dicta cupiditate. Inventore voluptatem adipisci itaque pariatur, ullam
        sapiente ad esse possimus, animi quidem quisquam ipsam impedit sed eum dolore repudiandae debitis. Pariatur
        consectetur, quidem voluptates alias perspiciatis commodi odio ducimus dignissimos veniam nostrum, voluptatem
        placeat officia, perferendis accusantium ad fugiat repellendus laborum maiores natus? Quia eligendi ducimus nisi
        perspiciatis, libero, unde eum ullam consequuntur doloremque sunt laborum. Aspernatur expedita obcaecati impedit
        sint, est, quia fuga adipisci, officiis ratione voluptatibus quis culpa quas vero molestias temporibus quaerat
        itaque nostrum dolor. Similique, repellat debitis nobis reprehenderit maiores eveniet incidunt odio maxime,
        velit optio eligendi?</p>
</body>

</html>